body {
    font-family: Arial, sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sidebar {
    margin-bottom: 20px;
}

.main-content {
    overflow-x: auto;
}

@media(min-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr 3fr; /* Adjusted grid column ratio */
        gap: 20px;
    }

    .sidebar {
        grid-column: 1;
    }

    .main-content {
        grid-column: 2;
    }
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.plus{
    border:none;
    color: blue;
    width: 1rem;
    background-color: transparent;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin:5%;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

.action-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action-btn.modify {
    background-color: #28a745;
}

.action-btn.modify:hover {
    background-color: #218838;
}

.action-btn.delete {
    background-color: #dc3545;
}

.action-btn.delete:hover {
    background-color: #c82333;
}
